In [1]:
x = 1
type(x)

int

In [2]:
x = 1.0
type(x)

float

In [3]:
b1 = True
b2 = False
type(b1)
type(b2)

bool

In [4]:
name1 = "Bharath Kumar"
type(name1)

str

In [7]:
x= 1.0 - 2.0j
type(x)

complex

In [8]:
print(x)

(1-2j)

In [9]:
print(x.real, x.imag)

1.0 -2.0

In [10]:
tenth = 10
two = 2
print(tenth)
two

10

2

In [11]:
ten = 10
ten

10

In [14]:
ten = 'ten'
ten

'ten'

In [15]:
'day' + 1

TypeError: can only concatenate str (not "int") to str

In [16]:
'day' + str(1)

'day1'

In [17]:
True and True

True

In [24]:
True or False

True

In [19]:
not True

False

In [20]:
not False

True

In [21]:
True is True

True

In [22]:
True is False

False

In [25]:
'a' is 'a'

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-25-e2fa3e0bad77>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  'a' is 'a'

True

In [26]:
i = 3
if i<3:
    print("Less than 3")
elif i<5:
    print("Less than 5")
else:
    print("5 or more")

Less than 5

In [30]:
l = []
l

[]

In [31]:
l = list()
l

[]

In [32]:
l = ['a','b','c']
print(l)
type(l)

['a', 'b', 'c']

list

In [33]:
l = ['a',6]
l

['a', 6]

In [36]:
l2 = list(l)
12

12

In [37]:
list('abcdef')

['a', 'b', 'c', 'd', 'e', 'f']

In [38]:
l = [1,2]
print(l)
l.append('b')
print(l)
l.append('c')
print(l)
l.insert(1, 56)
l

[1, 2]
[1, 2, 'b']
[1, 2, 'b', 'c']

[1, 56, 2, 'b', 'c']

In [41]:
for i in l:
    print(i)

1
56
2
b
c

In [42]:
numbers = [6,5,3,8,4,2,5,4,9]
sum = 0
for i in numbers:
    sum = sum+i
print("Number is",sum)
sum

Number is 46

46

In [43]:
digits = [0,1,5]

for i in digits:
    print(i)
else:
    print("No items left")

0
1
5
No items left

In [ ]:
 #Program to add natural
# numbers upto 
# sum = 1+2+3+...+n

# To take input from the user,
n = int(input("Enter n: "))

# initialize sum and counter
sum = 0
i = 1

while i<=n:
    sum = sum + i
    i = i +1

# print the sum
print("The sum is:",sum)

In [ ]:
print(range(10))

In [ ]:
print(list(range(10)))

In [ ]:
print(list(range(2, 8)))

In [ ]:
print(list(range(2, 20, 5)))

In [ ]:
genre = ['pop','rock','jazz','sapna']

for i in range(len(genre)):
    print("I like",genre[i])

In [ ]:
# Program to show the use of continue statement inside loops

for val in "HARSHITHA":
    if val == "I":
        continue
    print(val)

print("The end")

In [ ]:
name = input("What is your name?\n ")
type(name)

In [ ]:
age = int(input("What is your age? "))
print ("Your age is: ", age)
type(age)

In [ ]:
name = input("What is your name? ")
print (" It was nice talking you " + name + "!")
age = input("Enter your age? ")
print("Hey, you are already " + age + " years old, " + name + "!")