In [ ]:
# single word
str = 'Hello'
str

In [ ]:
# Entire phrase 
'this ia also a string'

In [ ]:
# We can also use double quote
"String built with double quotes"

In [ ]:
# Be careful with quotes! corrected
'I m using single quotes, but will create an error'

In [ ]:
"Now I'm ready to use the single quotes inside a string!"

In [ ]:
# We can simply declare a string
'Hello world'

In [ ]:
# note that we can't output multiple strings this way
'Hello world 1'
'Hello world 2'

In [ ]:
print ('Hello world 1')
print ('Hello world 2')
print ('use \n to print a new line')
print ('\n')
print ('see what i mean?')

In [ ]:
 #To use print function from Python 3 in Python 2
from __future__ import print_function

print ('Hello world')

In [ ]:
len('Hello world')

In [2]:
# Assign s as a string
s = 'Hello world'

In [3]:
#Check
s

'Hello world'

In [4]:
#Print the object
print(s)

Hello world

In [5]:
# Show first element (in this case a letter)
s[0]

'H'

In [6]:
s[1]

'e'

In [8]:
s[2]

'l'

In [9]:
#Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello world'

In [10]:
# Note that there is no change to the original s
s

'Hello world'

In [11]:
# Grab everything UP TO the 3rd index
s[:3]

'Hel'

In [12]:
#Everything
s[:]

'Hello world'

In [13]:
# Last letter (one index behind 0 so it loops back around)
s[:-1]

'Hello worl'

In [14]:
#Grab everything, but go in steps size of 1
s[::1]

'Hello world'

In [15]:
# Grab everything, but go in step sizes of 2
s[::2]

'Hlowrd'

In [16]:
 #We can use this to print a string backwards
s[::-1]

'dlrow olleH'

In [17]:
s

'Hello world'

In [19]:
 #Concatenate strings!
s + ' concatenate me!'

'Hello world concatenate me!'

In [26]:
#We can reassign s completely though!
s = s + ' concatenate me!'

In [27]:
print(s)

Hello world concatenate me! concatenate me! concatenate me!

In [25]:
s

'Hello world concatenate me! concatenate me!'

In [29]:
letter = 'z'

In [30]:
letter*10

'zzzzzzzzzz'

In [31]:
# built in string methods
s

'Hello world concatenate me! concatenate me! concatenate me!'

In [32]:
#Upper Case a string
s.upper()

'HELLO WORLD CONCATENATE ME! CONCATENATE ME! CONCATENATE ME!'

In [33]:
# Lower case
s.lower()

'hello world concatenate me! concatenate me! concatenate me!'

In [35]:
# Split a string by blank space (this is the default)
s.split()

['Hello',
 'world',
 'concatenate',
 'me!',
 'concatenate',
 'me!',
 'concatenate',
 'me!']

In [36]:
# Split by a specific element (doesn't include the element that was split on)
s.split('o')

['Hell', ' w', 'rld c', 'ncatenate me! c', 'ncatenate me! c', 'ncatenate me!']

In [38]:
'Insert another string with curly brackets:{}'.format({'The inserted string'})

"Insert another string with curly brackets:{'The inserted string'}"

In [39]:
print(s)
s.count('o')

Hello world concatenate me! concatenate me! concatenate me!

5

In [40]:
s.find('o')

4

In [50]:
s.center(60,'z')

'Hello world concatenate me! concatenate me! concatenate me!z'

In [48]:
'Hello\tHi'.expandtabs()

'Hello   Hi'

In [52]:
s = 'Hello'

In [53]:
s.isalnum()

True

In [54]:
s.isalpha()

True

In [55]:
s.islower()

False

In [56]:
s.isspace()

False

In [57]:
s.istitle()

True

In [58]:
s.isupper()

False

In [59]:
s.endswith('o')

True

In [60]:
s.split('e')

['H', 'llo']

In [61]:
s.partition('e')

('H', 'e', 'llo')

In [62]:
s

'Hello'

In [63]:
#Assign a list to an variable named my_list
my_list = [1,2,3]

In [64]:
my_list = ['A String',23,100.232,'o']
my_list

['A String', 23, 100.232, 'o']

In [65]:
len(my_list)

4

In [68]:
my_list = ['one','two','three',4,5]

In [69]:
my_list[0]

'one'

In [71]:
my_list[1:]

['two', 'three', 4, 5]

In [72]:
my_list[:3]

['one', 'two', 'three']

In [73]:
my_list + ['new item']

['one', 'two', 'three', 4, 5, 'new item']

In [74]:
my_list

['one', 'two', 'three', 4, 5]

In [75]:
# Reassign
my_list = my_list + ['add new item permanetly']

In [76]:
my_list

['one', 'two', 'three', 4, 5, 'add new item permanetly']

In [77]:
# Make the list double
my_list * 2

['one',
 'two',
 'three',
 4,
 5,
 'add new item permanetly',
 'one',
 'two',
 'three',
 4,
 5,
 'add new item permanetly']

In [79]:
# Create a new list
l = [1,2,3]

In [80]:
# Append
l.append('append me!')

In [81]:
# Show
l

[1, 2, 3, 'append me!']

In [82]:
# Pop off the 0 indexed item
l.pop(0)

1

In [83]:
# Show
l

[2, 3, 'append me!']

In [84]:
# Assign the popped element, remember default popped index is -1
popped_item = l.pop()

In [85]:
popped_item

'append me!'

In [86]:
l

[2, 3]

In [87]:
l[100]

IndexError: list index out of range

In [88]:
new_list = ['a','e','x','b','c']

In [89]:
#Show
new_list

['a', 'e', 'x', 'b', 'c']

In [90]:
new_list.reverse()

In [91]:
new_list

['c', 'b', 'x', 'e', 'a']

In [92]:
new_list.sort()

In [93]:
new_list

['a', 'b', 'c', 'e', 'x']

In [94]:
# Let's make three lists
list_1 = [1,2,3]
list_2 = [4,5,6]
list_3 = [7,8,9]

# Make a list of lists to form a matrix
matrix = [list_1,list_2,list_3]

In [95]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [96]:
# Grab first item in matrix object
matrix[0]

[1, 2, 3]

In [97]:
matrix[1][1]

5

In [98]:
# Build a list comprehension by deconstructing a for loop within a []
first_col = [row[2] for row in matrix]

In [99]:
first_col

[3, 6, 9]

In [100]:
l = [1,2,3]

In [101]:
l.append(4)

In [102]:
l

[1, 2, 3, 4]

In [103]:
l.count(10)

0

In [104]:
l.count(2)

1

In [105]:
x = [1,2,3]
x.append([4,5])
print(x)

[1, 2, 3, [4, 5]]

In [106]:
x = [1,2,3]
x.extend([4,5])
print(x)

[1, 2, 3, 4, 5]

print(l)
l.index(12)

In [109]:
l.index(12)

ValueError: 12 is not in list

In [110]:
l

[1, 2, 3, 4]

In [111]:
# Place a letter at the index 2
l.insert(2,'inserted')

In [112]:
l

[1, 2, 'inserted', 3, 4]

In [113]:
ele = l.pop()

In [114]:
l

[1, 2, 'inserted', 3]

In [115]:
ele

4

In [116]:
l

[1, 2, 'inserted', 3]

In [117]:
l.remove(3)

In [118]:
l

[1, 2, 'inserted']

In [119]:
l.reverse()

In [120]:
l

['inserted', 2, 1]

In [121]:
l

['inserted', 2, 1]

In [126]:
l.pop(1)

2

In [127]:
l.pop(0)

'inserted'

In [128]:
l.sort()

In [129]:
l

[1]